index_html_file_path="/public/index.html"
error_html_file_path="/public/error.html"
assets_path="public/assets"
content_version=1
user_uuid="db8fc491-7712-4149-b2c2-19a84f7c3cc6"
bucket_name="ivcj9ect1ex2hk158j7uozqdfbdj9f2l"
AWS_DEFAULT_REGION="eu-west-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
